.opening{
	margin-top: 16%;
	font-size: 50px;
	text-align: center;
	font-weight: bold;
	color: blue;
	font-family: cambria;
}

.opening2{
	margin-top: 5%;
	font-size: 25px;
	color: orange;
	font-weight: bold;
}

.opening2 img{
	margin-top: 1%;
}

.bg{
	background-image: url("../img/bg.png");
	background-attachment: fixed;
	background-size: 100% 100%;
	background-position: center;
}

.LoginPage{
	width: 100%;
  	background-color: var(--white);
  	font-family: verdana;
}

.Rectangle {
  	height: 100px;
  	background-color: #00aeef;
  	padding: 20px 0 0 50px;
  	font-size: 30pt;
}

.box{
	margin: 5% 20% 5% 20%;
	border: solid 3.2px #00aeef;
	border-radius: 10px;
	font-family: verdana;
	font-size: 15pt;
	padding: 2% 0 2% 0;
}

.lbl{
	margin: 2% 25% 2% 25%;
}

.lbl input{
	border-radius: 10px;
  	border: solid 2px #00aeef;
  	height: 22px;
}

.btn{
	border-radius: 10px;
  	border: solid 2px #00aeef;
  	background-color: #3399cc;
  	color: white;
  	padding: 0.5% 4% 0.5% 4%;
  	font-size: 15pt;
  	margin: 20px 0 20px 255px;
}

/*header*/
.Rectangle-1 {
  width: 1366px;
  height: 73px;
  box-shadow: 0px 3px 2.7px 0.3px rgba(0, 0, 0, 0.47);
}

.INVENTORYOFFItCE {
  width: 255px;
  height: 28px;
  font-family: KozGoPr6N;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  float: left
}
.INVENTORYOFFItCE .text-style-1 {
  font-size: 35px;
  font-weight: bold;
  float: left;
}