<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!--
<form th:action="@{/}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
</form>
-->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

                <h2>Registration Form</h2>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input id="name" type="text" placeholder="Name"
                               class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input id="email" type="text" placeholder="Email"
                               class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input id="password" type="password" placeholder="Password" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <button id="register" class="btn btn-primary btn-block">Register User</button>
                    </div>
                </div>

        </div>
    </div>
</div>
<script type="text/javascript" src="/js/javascript.js"></script>
<!--<script>-->
    <!--$("#register").click(function () {-->
        <!--var email= document.getElementById("email").value;-->
        <!--var password=document.getElementById("password").value;-->
        <!--var name=document.getElementById("name").value;-->
        <!--console.log( '{"name": "' + name + '", "password": "' + password + '", "email": "'+ email +'"}');-->
        <!--$.ajax({-->
            <!--type: 'POST',-->
            <!--url: 'http://localhost:8080/api/registration',-->
            <!--data:-->
                <!--'{"name": "' + name + '", "password": "' + password + '", "email": "'+ email +'"}',-->
            <!--headers: {-->
                <!--"Content-Type": "application/json", "Accept": "application/json"-->
            <!--},-->
            <!--dataType:"json", //to parse string into JSON object,-->
            <!--success: function(data, status){-->
                <!--console.log("call success. result: " + data);-->
                <!--alert("Success :"+data)-->
                <!--//document.location.href = 'index.html'-->
            <!--},-->
            <!--error: function(error){-->
                <!--console.log('errorCode: ' + error.status + ' . Message: ' + error.responseText);-->
            <!--}-->
        <!--});-->
    <!--});-->

    <!--// var btn = document.getElementById("register")-->
    <!--// btn.addEventListener("click",function (){-->
    <!--//     var email= document.getElementById("email").valueOf()-->
    <!--//     var password=document.getElementById("password").valueOf()-->
    <!--//     var firstName=document.getElementById("firstName").valueOf()-->
    <!--//     var lastName=document.getElementById("lastName").valueOf()-->
    <!--//     console.log(email,password,firstName,lastName)-->
    <!--// })-->
<!--</script>-->
</body>
</html>